@media (max-width:798.98px) {

   /* HEADER */
   .header__main {
      padding: 31px 0 0 0;
   }

   .header__title {
      font-size: 30px;
   }

   .header__list {
      padding:0 0 0 0;
   }
   
   .header__list-item {
      color: var(--text);
      font-size: 10px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
   }

   .header__list-item::before {
      width: 5px;
      height: 5px;
      margin-right: 7px;
   }
   .header__desc {
      margin-top: 10px;
      max-width: 240px;
      color: #FFF;
      font-family: var(--rale);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }

   /* BENEFITS */
      .benefits__card-header {
         padding: 0;
      }
   
      .benefits__card-header-number {
         font-size: 100px;
         margin-left: 10px;
      }
   
      .benefits__card-header-text {
         font-size: 12px;
         line-height: 20px;
      }
   
      .benefits__card-list {
         color: #FFF;
         font-family: var(--rale);
         font-size: 12px;
         font-style: normal;
         font-weight: 400;
         line-height: 18px;
         padding: 0;
         margin: 0 0 0 8px;
      }
      .benefits__card-header-text {
         color: #FFF;
         font-family: var(--rale);
         font-size: 10px;
         font-style: normal;
         font-weight: 600;
         line-height: 24px;
         text-transform: uppercase;
      }

   /* RISKS */
   .risks__cards {
      padding: 0;
   }

   .risks__card-negative,
   .risks__card-positive {
      flex-basis: content;
   }

   .risks__card-negative-text,
   .risks__card-positive-text {
      font-size: 12px;
      font-weight: 700;
      line-height: 21px;
      text-transform: uppercase;
      flex-grow: 1;
   }

   .risks__card-negative-pic,
   .risks__card-positive-pic {
      scale: 0.5;
   }

   /* INVEST */
   .invest__main {
      margin-top: 0;
      flex-wrap: wrap;
   }
   .invest__desc{
      padding: 17px 10px;
   }
   .invest__desc-title{
      font-size: 12px;
         font-weight: 700;
         text-transform: uppercase
   }
   .invest__desc-title span {
      font-family: var(--rale);
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--header-dots);
   }
   .invest__desc-text{
      margin-top: 10px;
         font-size: 12px;
         font-weight: 400;
         line-height: 30px;
   }
   .invest__title {
      padding: 0 10px;
   }

   .invest__table-item {
      width: 300px;
   }

   .invest__buttom {
      margin-bottom: 50px;
   }

  

   
   /* TO DO */

   .to-do__conteiner {
      flex-wrap: wrap;
   }
   
   .to-do__title {
      padding: 0;
   }

   .to-do__conteiner {
      grid-template-columns: repeat(1, 1fr);
      gap: 0;
      margin: 0;
   }

   .to-do__subtitle {
      font-size: 16px;
      margin-top: 40px;
   }

   .to-do__list {
      margin-top: 20px;
   }

   .to-do__list-item {
      font-family: var(--rale);
      font-size: 14px;
      font-weight: 400;
   }

   .to-do__pic-conteiner {
      margin-top: 44px;
   }

   .to-do__footer-subtitle {
      font-family:var(--rale);
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
   }

   .to-do__footer {
      margin-top: 0;
   }

   .to-do__footer-conteiner {
      margin-top: 40px;
   }

   .subtitle-list {
      font-size: 14px;
   }

   .to-do__bottom-list {
      margin: 0;
   }

   .to-do__bottom-list-item {
      font-size: 14px;
      font-weight: 700;
   }

   .to-do__button {
      margin: 40px 0 0 0;

   }

 

   /* BUTTONS */
      /* general */
    
       
       /* header button */
         .header__button {
            margin: 212px auto 50px auto;
         }
       /* benefits button */
         .benefits__button {
            margin-top: 60px;
            margin-bottom: 50px;
         }
       /* invest button */
         .invest__button {
            margin-top: 60px;
            margin-bottom: 50px;
         }
       /* risks button */
         .risks__button {
            margin-top: 60px;
            margin-bottom: 50px;
         }
         
         .to-do__btn-conteiner a{
            width: 100%;
         }

}

  @media (max-width:798.98px) {
      .to-do__button a {
         width: 100%;
      }
     /* Advantages */
     .advantages {
        padding-bottom: 56px;
     }

     .advantages__title {
        color: #FFF;
        text-align: center;
        font-family: var(--rale);
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 40px;
     }

     .advantages__cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
      margin-top: 0;
     }

     .advantages__card {
        padding: 15px 30px;
        width: 100%;
     }

     .advantages__card--1::before {
        width: 30px;
     }

     .advantages__card--2::before {
        width: 30px;
     }

     .advantages__card--3::before {
        width: 30px;
     }

     .advantages__card--4::before {
        width: 30px;
     }

     .advantages__card--5::before {
        width: 30px;
     }

     .advantages__card--6::before {
        width: 30px;
     }

     .advantages__card-text {
        color: #FFF;
        font-size: 12px;
        font-weight: 700;
        line-height: 21px;
        /* 175% */
        text-transform: uppercase;
        text-align: center;
     }

     .advantages__subtitle {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
     }
     .advantages__input-submit {
        color: #070707;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
     }
     /* FOOTER */
     .footer{
      font-size: 10px;
     }
     .footer__left-conteiner{
      width: 100%;
      position: relative;
     }
     .footer__number{
      font-size: 14px;
     }
     .footer__email{
      position: absolute;
      top: 58px;
      right: 0;
     }
     .special{
      justify-content: center;
      margin-top: 20px;
     }
      .footer__right-conteiner{
         justify-content: center;
         width: 100%;
         margin-top: 48px;
      }
      .footer__right-conteiner p{
         text-align: center;
         margin-top: 10px;
      }
      #country{
         font-size: 10px;
      }
   }

   @media screen and (max-width:1156.98px) and (min-width:798.98px) {
      
      .advantages__card{
         gap: 10px;
      }
      .advantages__card-text{
         font-size: 10px;
         line-height: 20px;
      }
     
     
      .footer__left-conteiner {
            width: 100%;
         }
         .footer__info{
            margin: 0 auto;
            text-align: center;
         }
         #country{
            display: inline-block;
         }
         .footer__number{
            display: inline-block;
         }
      .footer__right-conteiner {
            justify-content: center;
            width: 100%;
         }
         .footer__right-conteiner p {
            text-align: center;
         }
         .special {
            justify-content: center;
            align-content: center;
            margin-top: 20px;
         }
        
   }

/* GLOBAL */

@media (max-width:520px) {
   .wrapper {
      gap: 0;
   }
   .head {
      margin: 0 0 40px 0;
      padding: 0 10px;

      color: #FFF;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
   }
   .position {
      margin: 50px auto 40px auto;
   }


   .btn a {
      width: 100%;
      padding: 15px 40px;

   }

   .btn-text {
      color: #070707;
      font-family: var(--mont);
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
   }
   
}